/* global */
* {
    margin: 0;
    padding: 0;
    transition: all .15s ease;
    scroll-behavior: smooth;
    cursor: url("asserts/cursors/2.svg") 3 3 , default;
    box-sizing: border-box; /* 让元素的宽度包含边框和内边距 */
}
html{
    height: 100%;
}
body{
    background-color: rgb(26, 26, 26);
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
    font-family: Microsoft YaHei, serif;
}
@font-face {
    font-family:Pixel;
    src: local('Pixel'), local('Pixel'), url("asserts/fonts/LLPixelFun-Regular.ttf") format("truetype");
}
/* animations */
@keyframes appear{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
/* head */
#top{
    height: auto;
    overflow: auto;
}

.top{
    background-color: rgba(255, 255, 255, 0.11);
    padding: 10px;
    text-align: left;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /*background-image: linear-gradient(to right, #ffd75e, #20f389, #39e3ff, #ff78b0, #f1df8e);*/
}
.top div{
      width: 60px;
      height: 60px;
      padding: 5px;
      background-color: #ffffff;
      -webkit-mask: url('asserts/logos/gm.svg') no-repeat 50% 50%;
      mask: url('asserts/logos/gm.svg') no-repeat 50% 50%;
  }
.top h1{
    font-family: "Pixel", serif;
    font-size: 32px;
    letter-spacing: 2px;
    /*font-style: italic;
    font-weight: bold;*/
    color: white;
    text-shadow: 0 0 1px #aaaaaa;
    padding: 10px;
}

/* mid */
#mid{
    padding: 10px;
    display: flex; /* 使用弹性盒子布局 */
    height: 60%;
    overflow-y: auto; /* 如果中间区域的内容超出高度，可以使用滚轮滑动 */
}

#info{
    flex: 0 0 80%; /* 设置左边部分的基础宽度为 70%，不允许收缩或扩展 */
    display: flex; /* 使用弹性盒子布局 */
    padding: 10px;
    flex-wrap: wrap; /* 设置内部元素自动换行 */
    flex-direction: column;
    float:left;
    justify-content: space-evenly;
    overflow: auto;
}
.info h1,p{
    color: white;
}

#login{
    flex: 0 0 20%; /* 设置右边部分的基础宽度为 20%，不允许收缩或扩展 */
    display: flex; /* 使用弹性盒子布局 */
    padding: 10px;
    flex-direction: column; /* 设置内部元素纵向排列 */
    align-items: center; /* 设置内部元素水平居中 */
    justify-content: center; /* 设置内部元素垂直居中 */
}

/* outlinks */
#bottom {
    position: fixed;
    bottom: 0; /* 设置底部区域的位置 */
    height: auto;
}
.bottom {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    width: 100%;
    padding: 10px;
    bottom: 0;
}
.bottom *{
    cursor: url("asserts/cursors/3.svg") 3 3 , pointer;
}
.link{
    display: flex;
    align-items: center;
    width: 180px;
    height: 60px;
    margin: 10px;
    border-radius:5px;
}

.link:hover{
    transform: scale(1.025);
    transform-origin: center;

 }
.link div{
    width: 30px;
    height: 30px;
    padding: 5px;
    margin-left: 10px;
    user-select: none;
}
.link h1{
    font-size: 13px;
    padding: 5px;
    user-select: none;
}
@media (max-width: 768px) {
    .link{
            width: 60px;
        }
    .link h1{
        font-size: 0;
        margin: 0;
        display: none;
    }
    #email h1{
        font-size: 13px;
    }
    #email a{
        font-size: 13px;
    }
}
#bilibili{
    background-color: palevioletred;
}
#bilibili div{
    background-color: #ffffff;
    -webkit-mask: url('asserts/logos/bilibili.svg') no-repeat 50% 50%;
    mask: url('asserts/logos/bilibili.svg') no-repeat 50% 50%;
}
#bilibili h1{
    color:#ffffff;
}

#github{
    background-color: aliceblue;
}
#github div{
    background-color: #1a1a1a;
    -webkit-mask: url('asserts/logos/github.svg') no-repeat 50% 50%;
    mask: url('asserts/logos/github.svg') no-repeat 50% 50%;
}
#github h1{
    color: #1a1a1a;
}

#school{
    background-color: royalblue;
}
#school div{
    background-color: #ffffff;
    -webkit-mask: url('asserts/logos/hdu.svg') no-repeat 50% 50%;
    mask: url('asserts/logos/hdu.svg') no-repeat 50% 50%;
}
#school h1{
    color:#ffffff;
}

#wechat{
    background-color: green;
}
#wechat div{
    background-color: #ffffff;
    -webkit-mask: url('asserts/logos/wechat.svg') no-repeat 50% 50%;
    mask: url('asserts/logos/wechat.svg') no-repeat 50% 50%;
}
#wechat h1{
    color:#ffffff;
}
#email{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: auto;
    height: 60px;
    margin: 10px;
    text-decoration-color: white;
}
#email h1{
    color:white;
}
#email a{
    color:white;
}

/* login.xml */
#login_code{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
#login_code h1{
    color: white;
    font-size: 24px;
    margin: 10px;
}