/* global */
* {
    margin: 0;
    padding: 0;
    transition: all .15s ease;
    scroll-behavior: smooth;
    cursor: url("asserts/cursors/2.svg") 3 3 , default;
}
html{
    height: 100%;
}
body{
    background-color: rgb(26, 26, 26);
    font-family: Microsoft YaHei, serif;
    height: 100%;
}
@font-face {
    font-family:Pixel;
    src: local('Pixel'), local('Pixel'), url("asserts/fonts/LLPixelFun-Regular.ttf") format("truetype");
}
/* animations */
@keyframes appear{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
/* head */
.top{
    background-color: rgba(255, 255, 255, 0.11);
    padding: 10px;
    text-align: left;
    height: 9%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
    /*background-image: linear-gradient(to right, #ffd75e, #20f389, #39e3ff, #ff78b0, #f1df8e);*/
}
.top div{
      width: 60px;
      height: 60px;
      padding: 5px;
      background-color: #ffffff;
      -webkit-mask: url('asserts/logos/gm.svg') no-repeat 50% 50%;
      mask: url('asserts/logos/gm.svg') no-repeat 50% 50%;
  }
.top h1{
    font-family: "Pixel", serif;
    font-size: 32px;
    letter-spacing: 2px;
    /*font-style: italic;
    font-weight: bold;*/
    color: white;
    text-shadow: 0 0 1px #aaaaaa;
    padding: 10px;
}

/* info */
#info{
    display: flex;
    flex-direction: column;
    float:left;
    height: 100%;
    width: 80%;
    justify-content: space-evenly;
}
.info h1,p{
    color: white;
}

/* login */
#login{
    display: flex;
    flex-direction: column;
    float: right;
    height: 100%;
    width: 20%;
    justify-content: space-evenly;
    align-items: center;
}

/* outlinks */
.bottom {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    position: fixed;
    bottom: 0;
}
.bottom *{
    cursor: url("asserts/cursors/3.svg") 3 3 , pointer;
}
.link{
    display: flex;
    align-items: center;
    width: 180px;
    height: 60px;
    margin: 10px;
    border-radius:5px;
}

.link:hover{
    transform: scale(1.025);
    transform-origin: center;

 }
.link div{
    width: 30px;
    height: 30px;
    padding: 5px;
    margin-left: 10px;
    user-select: none;
}
.link h1{
    font-size: 13px;
    padding: 5px;
    user-select: none;
}
#bilibili{
    background-color: palevioletred;
}
#bilibili div{
    background-color: #ffffff;
    -webkit-mask: url('asserts/logos/bilibili.svg') no-repeat 50% 50%;
    mask: url('asserts/logos/bilibili.svg') no-repeat 50% 50%;
}
#bilibili h1{
    color:#ffffff;
}

#github{
    background-color: aliceblue;
}
#github div{
    background-color: #1a1a1a;
    -webkit-mask: url('asserts/logos/github.svg') no-repeat 50% 50%;
    mask: url('asserts/logos/github.svg') no-repeat 50% 50%;
}
#github h1{
    color: #1a1a1a;
}

#school{
    background-color: royalblue;
}
#school div{
    background-color: #ffffff;
    -webkit-mask: url('asserts/logos/hdu.svg') no-repeat 50% 50%;
    mask: url('asserts/logos/hdu.svg') no-repeat 50% 50%;
}
#school h1{
    color:#ffffff;
}

#wechat{
    background-color: green;
}
#wechat div{
    background-color: #ffffff;
    -webkit-mask: url('asserts/logos/wechat.svg') no-repeat 50% 50%;
    mask: url('asserts/logos/wechat.svg') no-repeat 50% 50%;
}
#wechat h1{
    color:#ffffff;
}
#email{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: auto;
    height: 60px;
    margin: 10px;
    text-decoration-color: white;
}
#email h1{
    color:white;
}
#email a{
    color:white;
}

/* login.xml */
#login_code{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
#login_code h1{
    color: white;
    font-size: 24px;
    margin: 10px;
}